<?xml version='1.0' encoding='utf-8'?>
<widget id="it.fantinodavide.dogtracker" version="1.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:tools="http://schemas.android.com/tools">
    <icon src="www/favicon.png" width="57" height="57" density="mdpi" />
    <name>DogTracker</name>
    <description>
        App to connect to DogTracker boards by Fantino Davide.
    </description>
    <author email="fandav02@gmail.com" href="http://fantinodavide.it">
        Davide Fantino
    </author>
    <content src="index.html" />

    <access origin="*" subdomains="true"/>

    <platform name="android">
        <allow-intent href="*" />
        <allow-navigation href="*" />

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
